.App {
  text-align: center;
}

.top-board{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.bottom-board{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}